* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--base-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* css for loading page */
.loader_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* time widget */
#time-widget {
    position: fixed;
    bottom: 0;
    right: 20px;
    padding: 5px;
    border-radius: 12px;
    text-align: right;
    font-size: .8em;
    color: var(--text-color);
    font-weight: bolder;
    transition: background 0.5s ease;
    z-index: 2000;
}



/* main container */
.main_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

/* header */
.header {
    background-color: var(--base-variant);
    width: 98%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1% 0 1%;
    border-bottom: 1px solid var(--border);
}

.header section,
.header .logo_greeting {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .hum_menu {
    display: none;
}

.header .logo_greeting>img {
    width: 150px;
    border-radius: 10px;
    box-shadow: 3px 2px 3px var(--shadow);
}

.header .logo_greeting>h1 {
    color: var(--text-color);
    font-size: 1rem;
}

.header .icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header .icons .avatar {
    width: 50px;
}

/* main */
.main {
    width: 95%;
    height: 85%;
    padding: 2.5%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

/* navigator */
.main .left_side {
    /* background: #000; */
    width: 10%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.main .left_side button {
    cursor: pointer;
    padding: 10px 5px;
    color: var(--secondary-text);
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    transition: .25s;
}

.main .left_side button:hover,
.main .left_side button.active {
    background-color: var(--primary-hover);
}

/* main contents */
.main .main_content {
    width: 55%;
    height: 100%;
    display: flex;
}

.main .main_content .content_box {
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    visibility: hidden;
    opacity: 0;
    transition: .25s;
}

.main .main_content .content_box.active {
    transition: .25s;
    display: flex;
    visibility: visible;
    opacity: 1;
    width: 100%;
}

/* overview */
.main .main_content .overview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main .main_content .overview section {
    background-color: var(--base-variant);
    border: 1px solid var(--border);
    box-shadow: 2px 2px 10px var(--shadow);
    border-radius: 5px;
    color: var(--text-color);
}

.main .main_content .overview section li {
    list-style: none;
    margin: 10px;
}

.main .main_content .overview section.upcoming-events {
    width: 90%;
    height: 25%;
    padding: 5%;
    margin-bottom: 5%;
    background: url('./assets/icons/event.svg');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: top right;
}

.main .main_content .overview .second {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-between;
}

.main .main_content .overview .second .todays-agenda {
    width: 35%;
    font-size: .8rem;
}

.main .main_content .overview .second .weekly-achievements {
    width: 60%;
}

/* tasks */
.main .main_content .tasks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main .main_content .tasks .side {
    width: 38%;
}

.main .main_content .tasks section {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid var(--border);
    border-radius: 12px;
    background-color: var(--base-variant);
    box-shadow: 4px 4px 10px var(--shadow);
    color: var(--text-color);
}

.input_field {
    border: 1px solid var(--border);
    padding: 3px;
    border-radius: 5px;
}

.main .main_content .tasks section.todo-list input,
.main .main_content .tasks section.todo-list button {
    border: none;
    background: transparent;
    color: var(--text-color);
    outline: none;
}

.main .main_content .tasks section.todo-list button {
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
}

h2 {
    margin-bottom: 0.5rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0.4rem 0;
}

.todo-text {
    font-size: 16px;
}

#todo-list li {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.todo-list {
    max-height: 15rem;
    overflow-y: scroll;
    overflow-x: hidden;
}


.todo-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.todo-list::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.todo-list::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}

.todo-list::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}


#taskProgressChart {
    background-color: var(--base-variant);
}


/* communications */


.main .main_content .communication {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.main .main_content .communication section {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid var(--border);
    border-radius: 12px;
    background-color: var(--base-variant);
    box-shadow: 4px 4px 10px var(--shadow);
    color: var(--text-color);
    font-size: 1rem;
}

.main .main_content .communication .dev {
    width: 50%;
}

.main .main_content .communication .dev .highlight-card {
    display: none;
    font-size: small;
    border: 1px solid var(--border);
    border-radius: 12px;
    background-color: var(--base-variant);
    box-shadow: 4px 4px 10px var(--shadow);
    padding: 10px;
    margin: 1rem 0;
}

.main .main_content .communication .dev .highlight-card.active {
    display: block;
}

.main .main_content .communication .dev .highlight-card .profile {
    width: 100%;
    height: 15rem;
    border-radius: 5px;
    overflow: hidden;
}

.main .main_content .communication .dev .highlight-card .profile img {
    width: 100%;
    height: 100%;
}

.main .main_content .communication .dev .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .main_content .communication .dev .buttons button {
    cursor: pointer;
    padding: 5px 20px;
    border: none;
    background-color: var(--accent-color);
    border-radius: 5px;
    transition: .25s;
}

.main .main_content .communication .dev .buttons button:hover {
    background-color: var(--accent-hover);

}

.main .main_content .communication .side {
    width: 38%;
}



.main .main_content .communication section.birthday img {
    width: 30%;
    border-radius: 5px;
}

.main .main_content .communication section.birthday {
    background: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExeXN3Z2t6eW5mYnd6OGhlcndxbmN5eHliZ2Q5bzZ3bXl0dmpmamw5MSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/wGKrkvHxZT6PVpw635/giphy.gif');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: top right;
}


/* wellness */
.main .main_content .wellness {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main .main_content .wellness .side {
    width: 40%;
}

.main .main_content .wellness section {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid var(--border);
    border-radius: 12px;
    background-color: var(--base-variant);
    box-shadow: 4px 4px 10px var(--shadow);
    color: var(--text-color);
    font-size: 1rem;
}

.main .main_content .wellness .text {
    border: 1px solid var(--border);
    border-radius: 12px;
    background-color: var(--base-variant);
    border-left: 5px solid var(--accent-color);
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--accent-text);
    padding: 10px;

}

#pomodoro p {
    background-color: var(--accent-color);
    text-align: center;
    padding: 10px;
    font-size: 5rem;
    font-weight: bolder;
    color: var(--secondary-text);
    border-radius: 20px;

}

#timer {
    font-size: 2em;
    margin: 1rem 0;
}

.main .main_content .wellness button {
    background: var(--primary-color);
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: var(--secondary-text);
    transition: .25s;
}

.main .main_content .wellness button:hover {
    cursor: pointer;
    background: var(--primary-hover);

}

#office-radio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#office-radio input {
    cursor: pointer;

    background: var(--primary-color);
    color: var(--secondary-text);
    padding: 5px;
    border-radius: 5px;
}

#office-radio audio {
    width: 98%;
}


/* right side content */
.main .right_side {
    background-color: var(--base-variant);
    border: 1px solid var(--border);
    box-shadow: 2px 2px 10px var(--shadow);
    border-radius: 15px;
    width: 18%;
    height: 90%;

}

/* announcement slider */
.main .right_side .announcement-carousel {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 600px;
    margin: 2rem auto;
    position: relative;
}

.main .right_side .announcement-container {
    width: 100%;
    overflow: hidden;
}

.main .right_side .announcement-slide {
    display: none;
    background-color: var(--base-variant);
    border-left: 4px solid var(--accent-color);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px var(--shadow);
    transition: opacity 0.5s ease;
}

.main .right_side .announcement-slide.active {
    display: block;
}

.main .right_side .announcement-slide h3 {
    margin: 0;
    color: var(--primary-text);
    font-size: small;
    margin-bottom: 10px;
}

.main .right_side .announcement-slide p {
    font-size: x-small;
    margin-bottom: 5px;
    color: var(--text-color);

}

.main .right_side .announcement-slide .announcement-date {
    font-size: 0.8rem;
    color: var(--accent-text);
    margin-top: 0.5rem;
}

#prev-btn,
#next-btn {
    background: transparent;
    color: white;
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

#prev-btn img {
    transform: rotate(180deg);
}

/* office links */
.main .right_side .office_links h2 {
    color: var(--accent-text);
    margin-bottom: 5px;
}

.main .right_side .office_links ul {
    margin-left: 3rem;
}

.main .right_side .office_links ul li {
    list-style-image: url('./assets/icons/list.svg');
    margin-bottom: 5px;
}

.main .right_side .office_links ul li a {
    color: var(--primary-text);
    text-decoration: none;
    font-weight: bolder;
    transition: .25s;
}

.main .right_side .office_links ul li a:hover {
    color: var(--primary-text-hover);
}

.footer {
    margin-top: 25%;
    text-align: center;
}

.footer p {
    font-size: x-small;
    color: var(--text-color);
}

.side_menu {
    display: none;
}
/* to hide contents */
.hidden {
    display: none;
}